
<h2><%= @poll.question %></h2>
<ul>
<% @poll.answers.each do |answer| %>
  <li><%= link_to answer.name, vote_on_poll_path(answer.id) %></li>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) if @poll.updatable? %> |
<%= link_to 'Back', polls_path %>
